

.h{
    color: black;
    font-style: italic;
    font-family: fantasy;
    align-content: center;
    
}


.in{
    
    color: rgb(39, 26, 26);
    margin-top: 100px;
    
    border: black;
    border-radius: 4px;
    border-style: double;
    

    
    
}