<html>
    <head>
        <title> WEBSITE</title>
      
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename ='after1.css')}}" />


    </head>
    <body>
        <p>Months since last donation : {{data[0]}}</p>
        <br>
        <p>Total Number of Donation :{{data[1]}}</p>
        <br>
        <p>Total volume Blood donated: {{data[2]}}</p>
        <br>
        <p>months since the first donation : {{data[3]}}</p>
        <br>
        <p>The prediction : {{data[4]}}</p>
        <br>
        <p>{{data[5]}}</p>

    </body>
</html>